<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="callcenter-Test"  />
    <dubbo:registry address="zookeeper://10.126.53.168:2181"/><!--,10,126.53.169:2181,10.26.53.170:2181-->

    <!--所有SAF服务调用 开始-->
   <dubbo:reference id="dataContentService" interface="com.callcenter.api.DataContentService"
                   group="CALL-CENTER-DEV" version="0.0.1" timeout="500000" check="false" />
    <!--所有SAF服务调用 结束-->

</beans>




