<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

	<!-- 统一工作平台自动生成代码【统一身份认证用户信息组件】 --> 
	<bean id="uamClient" class="com.jd.synctask.rpc.client.impl.UamClientImpl">
		<constructor-arg index="0" value="${appKey}" />
		<constructor-arg index="1" value="${serverUrl}" />
	</bean>
</beans>

